---
- hosts: server
  become: yes

  vars:
    timezone: 'America/New_York'
    hostname: myserver
    php_version: 
      - 7.4
      - 8.0
    ssh_port: 2200

    # Senha do usuário root do Mysql
    mysql_pass_root: password

    # Gerar senha segura: openssl rand 60 | openssl base64 -A
    redis_password: password

    # Usuário de deploy
    user_deploy: deployer

    # Dropbox token 
    dropbox_token: my-token

  roles:
    - start
    - ssh
    - nginx
    - php
    - mysql
    - redis
    - fail2ban
    - firewall
    - webserver
    - rabbitmq
    - dropbox

  tasks:
    - name: Atualizando novos pacotes
      apt:
        update_cache: yes
        upgrade: dist