# Nome do Remetente
set realname={{ hostname }}

# Email do Remetente
set from="noreply@your-domain.com.br;"

# Usuario da conta de email
set my_user=noreply@your-domain.com.br

# Senha da conta de email
set my_pass='password'

# Autenticacao no servidor smtp de email
set smtp_url=smtps://$my_user:$my_pass@mail.your-domain.com.br

# Camada de segurança
set ssl_force_tls = yes